<div class="banner">
  <div class="triangle-top-left">
  </div>
  <div class="rectangle">
    <%= link_to image_tag("kecomo-logo.png"), root_path, class: "kecomo-logo" %>
    <% if user_signed_in? %>
      <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
    <% else %>
      <ul class="list-inline tabs-underlined">
       <li><%= link_to "Register", new_user_registration_path, class: "tab-underlined" %></li>
       <li><%= link_to "Log in", new_user_session_path, class: "tab-underlined" %></li>
      </ul>
    <% end %>
    <h2>Looking for the best voted food in town?</h2>
    <%= render 'shared/search_bar' %>
  </div>
</div>

<h3>Discover your new favourite</h3>
<div class="card-grid">
  <div class="row">
    <div class="cards">
      <% @categories.each do |category| %>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-img">
            <div style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
            </div>
            <div class="card-txt">
              <p><strong><%= category.name %></strong></p>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- the search bar and submit button-->
<div id="search_bar">
  <%= form_tag meals_path_url, method: :get do %>
    <%= text_field_tag :query, params[:query], placeholder: "Enter a category or meal's name" , id: 'searchbar' %>
    <%= submit_tag 'Search!' %>
  <% end %>
</div>
<!-- the autocomplete suggestions results dropdown -->
<div id="autocomplete_results">
  <ul id="results">
  </ul>
</div>
