<div class="banner">
  <div class="triangle-top-left"></div>
    <div class="rectangle">
    <%= link_to image_tag("kecomo-logo.png"), root_path, class: "kecomo-logo" %>

    <% if user_signed_in? %>

    <div class="dropdown">
      <img class="avatar-large dropdown-toggle" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" data-toggle="dropdown" id="navbar-wagon-menu" />
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to "Profile", profile_path(current_user) %></li>
        <li><%= link_to "Pick your best!", new_award_path %></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
      </ul>
    </div>

    <% else %>

      <ul class="list-inline tabs-underlined">
<!--
      <li><%#= link_to "Register and pick your best!", new_user_registration_path, class: "tab-underlined" %></li> -->

      <li><%= link_to "Log in", new_user_session_path, class: "tab-underlined" %></li>
      </ul>

    <% end %>

    <h2>Looking for the best voted food in town?</h2>
    <%= render 'shared/search-bar' %>
  </div>
</div>

<!--
<h3>Discover your new favourite</h3>
<div class="container">
  <div class="card-grid">
    <div class="cards">
      <div class="row">
        <%# @random_categories.each do |category| %>
          <div class="col-xs-4"
            <div class="card">
              <div class="card-img">
                <%#= link_to (image_tag (category.icon)), category_meals_path(category.id) %>
              </div>
              <div class="card-txt">
                <h5><strong><%#= category.name %></strong></h5>
              </div>
            </div>
          </div>
        <#% end %>
      </div>
    </div>
  </div>
</div>
 -->

<div class="container">
<h3>Discover your new favourite</h3>
  <div class="row">
    <% @random_categories.each do |category| %>
      <div class="col-xs-4">
        <div class="card">
          <div class="card-img">
            <%= link_to (image_tag (category.icon)), category_meals_path(category.id) %>
          </div>
          <div class="card-txt">
            <h5><strong><%= category.name %></strong></h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
