<div class="banner">
  <div class="triangle-top-left">
  </div>
  <div class="rectangle">
    <%= link_to image_tag("kecomo-logo.png"), root_path, class: "kecomo-logo" %>
    <% if user_signed_in? %>
      <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
    <% else %>
      <ul class="list-inline tabs-underlined">
       <li><%= link_to "Register", new_user_registration_path, class: "tab-underlined" %></li>
       <li><%= link_to "Log in", new_user_session_path, class: "tab-underlined" %></li>
      </ul>
    <% end %>
    <h2>Looking for the best voted food in town?</h2>
    <%= render 'shared/search-bar' %>
  </div>
</div>

<h3>Discover your new favourite</h3>
<div class="card-grid">
  <div class="cards">
    <div class="row">
      <% @random_categories.each do |category| %>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-img">
            <%= image_tag (category.icon) %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- <div class="card-txt">
  <p><strong><%#= category.name %></strong></p>
</div> -->
