
<div class="container">
 <div class="profile-user">
   <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar" id="navbar-wagon-menu">
   <h2>  <%= @user.first_name %> </h2>
 </div>
 <div class="profile-header">
  <h1>My awards:</h1>
</div>
<div class="container">
  <% @awards.each_with_index do |award, index| %>
  <br>
  <div class="row">
    <div class="card-meal">
      <% case index %>
      <% when 0 %>
        <div class="card-meal-rank-1">
          <%= index + 1 %>st
      <% when 1 %>
        <div class="card-meal-rank-2">
          <%= index + 1 %>nd
      <% when 2 %>
        <div class="card-meal-rank-3">
          <%= index + 1 %>rd
      <% else %>
        <div class="card-meal-rank">
          <%= index + 1 %>th
        <% end %>
        </div>
      <!-- meal cloudinary image -->
      <div class="card-meal-photo-info">

        <% if award.meal.picture == nil || award.meal.picture == "" %>
          <%= link_to category_meal_path(award.meal.category_id, award.meal.id) do %>
            <%= image_tag "default-restaurant.png", class: "card-meal-no-image"%>
          <% end %>
        <% else %>
          <%= link_to category_meal_path(award.meal.category_id, award.meal.id) do %>
            <%= image_tag award.meal.picture %>
          <% end %>
        <% end %>
        <div class="card-meal-infos">
          <!-- meal.name -->
          <h2><%= link_to award.meal.name, category_meal_path(award.meal.category_id, award.meal.id) %></h2>
          <!-- meal.award.review -->
          <p style="font-style: italic;"><%= award.meal.description %></p>
          <div class="card-meal-button-wrapper">
            <div class="card-meal-restaurant-button" style="margin-right: 5px;">
              <!-- meal.restaurant -->
              <p><%= link_to award.meal.restaurant.name, restaurant_path(award.meal.restaurant) %></p>
            </div>
            <div class="card-meal-category-button">
              <!-- meal.category -->
              <p><%= link_to award.meal.category.name, category_meals_path(award.meal.category_id) %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="profile-change-delete">
        <%  if user_signed_in? && award.user_id == current_user.id %>
        <%= link_to award_path(award), class: "color-edit-delete",:id=> "color-edit-delete", method: :delete,
        data: { confirm: 'You about to delete your vote for that meal.'} do %>
        <i class="far fa-trash-alt" id="color-edit-delete"></i>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>
</div>
</div>

