<%= render 'shared/navbar' %>
<h3>My awards:</h3>
<div class="profile-info">
  <div class="avatar-profile"></div>
  <div class="user-name"></div>
  <div class="profile-gear"></div>
</div>
<% @awards.each do |award| %>
  <ul>
    <li>
      <%= award.meal.category.name %>
      <br>
      <%= award.meal.name%>
      <%= award.review %>
      <%= link_to 'Delete',
             award_path(award),
                         method: :delete,
                         data: { confirm: 'Are you sure?' } %>
    </li>
  </ul>
<% end %>
