<div class="container">
  <div class="wrapper-new">
    <div class="form-new">
      <div class="choose-details">
        <div class="row-award">
          <h1>You only have one vote for each category, choose wisely!</h2>
        </div>
        <h2>You are about to vote for <%= @meal.name %> at <%= @meal.restaurant.name %> as the best <%= @meal.category.name %> </h2>

        <%= simple_form_for [@meal,@award] do |f| %>

          <%= f.input :review, :label => "Give a review (optional)", as: :text, class: "review" %>

          <div class="button-award">
            <%= f.submit "Confirm", class: "main-button" %>
            <br>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
