<div class="container">
  <div class="wrapper-new">
    <div class="form-new">
      <% if @meal.id.nil? %>
        <div class="choose-details-blank">
          <h1>Vote for a new meal</h1>
          <%= simple_form_for (@meal) do |f| %>
              <%= f.association :category, :label => "What do you want to vote for:" %>
              <%= f.association :restaurant, :label => "In which restaurant is that meal you want to vote for?" %>
              <%= f.input :name, :label => "What’s the name of that meal in the menu?" %>
              <div class="button-award">
                  <%= f.submit "Confirm", class: "main-button" %>
              <br>
              </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
