<%= render "shared/filter-bar" %>

<% unless @meals == nil %>
  <% @meals.each do |meal| %>
    <div class="container">
      <div class="row">
        <div class="card-meal">
          <div class="card-meal-rank">
             1st
          </div>
          <!-- meal cloudinary image -->
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
          <div class="card-meal-infos">
            <!-- meal.name -->
            <h2><%= meal.name %></h2>
            <!-- meal.award.review -->
            <p style="font-style: italic;"><%= meal.awards.last %></p>
            <div class="card-meal-button-wrapper">
               <div class="card-meal-restaurant-button" style="margin-right: 5px;">
                    <!-- meal.restaurant -->
                <p><%= link_to meal.restaurant.name, restaurant_meals_path(meal.restaurant.id), class:"" %></p>
              </div>
              <div class="card-meal-category-button">
                    <!-- meal.category -->
                <p><%= meal.category.name %></p>
              </div>
            </div>
          </div>
          <div class="card-meal-voting">
            <div class="card-meal-vote-button">
              <%= image_tag "vote.png", :class => " card-meal-vote-img"%>
              <p><%= meal.awards.count %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<% unless @results == nil %>
  <ul>
    <% @results.each do |result| %>
      <% if result.searchable_type == "Restaurant" %>
        <li>
          <%= "restaurants" %>
          <%= rest = Restaurant.find_by(name: result.content) %>
          <ul>
            <% rest.meals.sort_by do |meal| %>
              <li> <% meal.name %> </li>
              <li> <% meal.awards.count %> </li>
            <% end %>
          </ul>
        </li>
      <% elsif result.searchable_type == "Category" %>
        <li>
          <%= "category" %>
          <%= cat = Category.find_by(name: result.content) %>
          <%= cat.meals.count %>
          <ul>
            <% cat.meals.sort_by do |meal| %>
              <li> <% meal.name %> </li>
              <li> <% meal.awards.count %> </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
