<div class="container">
  <% unless @meal.picture.nil? %>
    <%= image_tag @meal.picture, class: "meal-page-img" %>
    <!-- meal cloudinary image -->
  <% end %>
  <div class="meal-page-info">
    <!-- meal.name -->
    <div>
      <h2><%= @meal.name %></h2>
      <div class="meal-page-tags">
        <%= link_to @meal.restaurant.name, restaurant_meals_path(@meal.restaurant.id), class: "page-meal-restaurant-tag" %>
        <%= link_to @meal.category.name, category_meals_path(@meal.category.id, @meal.id), class: "page-meal-category-tag" %>
      </div>
    </div>
    <!-- meal.award.review -->
    <div class="card-meal-voting">
      <div class="card-meal-vote-button">
        <%= link_to new_restaurant_meal_award_path(@meal.restaurant, @meal) do %>
        <%= image_tag "vote.png", class: "card-meal-vote-img"%>
        <% end %>
        <p style="text-align: center;"><%= @meal.awards.count %> votes</p>
      </div>
    </div>
  </div>
  <% @full_score.each do |award| %>
  <div class="meal-page-reviews">
    <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
    <div class="meal-page-reviews-content">
      <p><%= award.user.first_name%> <%= award.user.last_name%></p>
      <h6 style="font-style: italic;">"<%= award.review.first(80) %>..."</h6>
      <div class="meal-page-reviews-date">
        <p><%= award.created_at %></p>
      </div>
      <%  if user_signed_in? && award.user_id == current_user.id %>
      <div class="meal-page-reviews-actions">
        <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
        <a href="#">Delete <i class="far fa-trash-alt"></i></a>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>

