


<div class="wrapper-image">
  <%= image_tag @meal.picture %>
</div>
      <!-- meal cloudinary image -->
<div class="card-meal-infos-meal-page">
        <!-- meal.name -->
  <h2>The widow maker</h2>
        <!-- meal.award.review -->
    <div class="card-meal-voting">
      <div class="card-meal-vote-button">
        <%= image_tag "vote.png", :class => " card-meal-vote-img"%>
        <p>223 votes</p>
      </div>
    </div>
</div>

<div class="card-meal-button-wrapper-show-page">
  <div class="card-meal-restaurant-button-show-page">
    <!-- meal.restaurant -->
    <p>Big Al's</p>
  </div>
  <div class="card-meal-category-button-show-page">
    <!-- meal.category -->
    <p>#burger</p>
  </div>
</div>


<% @full_score.each do |award| %>
      <%= award.review %>
      <!-- meal reviews printed as lis -->
    <div class="reviews">
      <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
      <div class="reviews-content">
        <p><strong>Username</strong></p>
        <p>Lorem ipsum dolor sit amet, adipisicing elit.</p>
      </div>

      <div class="date-posted">
        <p><small>14th January</small></p>
      </div>

      <div class="reviews-actions">
        <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
        <a href="#">Delete <i class="far fa-trash-alt"></i></a>
      </div>
    </div>
<% end %>

<!-- pic of meal -->
<%= @meal.picture %>
<%= "---------" %>
<!-- name of meal -->
<%= @meal.name %>
<%= "---------" %>
<!-- name of meal category -->
<%= Category.find(@meal.category_id).name %>
<%= "---------" %>
<!-- awards count -->
<%= @meal.awards.count %>
<%= "---------" %>
<!-- name with link, leading to the show of the particular restaurant -->
<%= link_to Restaurant.find(@meal.restaurant_id).name, restaurant_path(Restaurant.find(@meal.restaurant_id)) %>
<!-- meal reviews array -->
<% @meal.awards.each do |award| %>
  <ul>
    <li>
      <%= award.review %>
      <%= award.user.first_name %>
      <%= award.user.email %>
      <!-- meal reviews printed as lis -->
    </li>
  </ul>
<% end %>

