
  <% if @restaurant.picture == nil %>
  <div class="restaurant-page-no-hero">
    <%= image_tag "default-restaurant.png", class: "restaurant-page-no-image" %>
    <p> Sorry we don't have any picture of the place yet :(</p>
  </div>
  <% else %>
  <div class="restaurant-page-hero" style="linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), background-image: url(<%= image_path @restaurant.picture %>)">
  </div>
<% end %>
<div class="container">

  <div class="restaurant-page-info">
   <div>
      <h2><%= @restaurant.name %></h2>
      <div class="restaurant-page-details">
        <p><%= @restaurant.address %></p>
        <p><%= @restaurant.city %></p>
        <% if @restaurant.opening_hour == true && @restaurant.closing_hour == true  %>
        <p>Opens from <%= @restaurant.opening_hour %> to <%= @restaurant.closing_hour %></p>
        <% end %>
      </div>
  </div>
    <div class="restaurant-page-map">
      <%= link_to "", restaurant_map_path(params[:id]), class: "far fa-map fa-2x" %>
      <p style="text-align: center;">Get there!</p>
    </div>
  </div>

  <div class="restaurant-page-meals">
    <p>The best voted meals in this restaurant</p>
  </div>
  <%= render 'shared/meal-card' %>
  <h3>Cannot find Your best among the <%= @restaurant.name %>'s meals?</h3>

</div>
