<% content_for :meta_title, "#{@restaurant.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @restaurant.description %>
<% content_for :meta_image, image_tag(@restaurant.picture) %>
  <% if @restaurant.picture == nil %>
  <div class="restaurant-page-no-hero">
    <%= image_tag "default-restaurant.png", class: "restaurant-page-no-image" %>
    <p> Sorry we don't have pictures of the place yet :(</p>
  </div>
  <% else %>
  <div class="restaurant-page-hero" style="background-image: url('<%= image_path @restaurant.picture %>');">
  </div>
<% end %>
<div class="container">

  <div class="restaurant-page-info">
   <div>
      <h2><%= @restaurant.name %></h2>
      <div class="restaurant-page-details">
        <p><%= @restaurant.address %></p>
        <p><%= @restaurant.city %></p>
        <% if @restaurant.opening_hour == true && @restaurant.closing_hour == true  %>
        <p>Opens from <%= @restaurant.opening_hour %> to <%= @restaurant.closing_hour %></p>
        <% end %>
      </div>
  </div>
    <div class="restaurant-page-map">
      <%= link_to "", restaurant_map_path(params[:id]), class: "far fa-map fa-2x" %>
      <p style="text-align: center;">Get there!</p>
    </div>
  </div>

  <div class="restaurant-page-meals">
    <p>The best voted meals in this restaurant</p>
  </div>
  <%= render 'shared/meal-card' %>
  <div class="header-link-form">
    <h3> <%= link_to "Don't see your meal?", new_meal_path %> </h3>
  </div>
</div>
