<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>
  <% if devise_controller? ||  current_page?(controller: 'pages', action: 'home') %>
  <body style="background-color: #fffde1">
    <% else %>
    <body>
    <% end %>
    <%= render 'shared/navbar' unless devise_controller? ||  current_page?(controller: 'pages', action: 'home')  %>

    <%= render 'shared/flashes' %>
    <div id="page-container">
        <%= yield %>

    </div>
    <div id="page-footer">
        <%= render 'shared/footer' %>
      </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
